<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><!-- #BeginTemplate "/Templates/site.dwt" --><!-- DW6 -->
<head>
<script type="text/javascript" src="../MM_images.js" ></script>

<link rel="shortcut icon" href="../favicon.ico" type="image/x-icon" /> 
<!-- #BeginEditable "doctitle" -->
<title rsf:id="page-title">Darwin Online: Advanced Search</title>
<link href="css/forms.css" rel="stylesheet" type="text/css" />
<!-- #EndEditable -->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="../darwin.css" rel="stylesheet" type="text/css" />
<style type="text/css">
.content_internal {
   width: 90%
}
html, body {font-family: sans-serif}
h1 {
  font-size: 1.8em;
  padding: 0 0 0.5em 0;
  margin: 0.4em 0 0 0;
}
</style>
</head>
<body alink="#FF9999" onload="MM_preloadImages('../image/menu_publications_on.gif','../image/menu_manuscripts_on.gif',
    '../image/menu_biography_on.gif','../image/menu_media_on.gif','../image/menu_aboutus_on.gif');" >

<div id="container">
    
    <div id="background">
        <div rsf:id="header:">
        <div class="menurow">
        <div class="menu">
            <a href="/"><img src="../image/logo.gif" alt="Darwin Online" /></a>
            
            <div>
            <div class="floatleft"><a href="/contents.html" onmouseout="MM_swapImgRestore()" 
                  onmouseover="MM_swapImage('Publications','','../image/menu_publications_on.gif',1)">
                <img src="../image/menu_publications_off.gif" alt="Publications" title="Darwin's publications and published manuscripts" name="Publications" id="Publications" /></a></div>
            
            <div class="floatleft"><a href="/manuscripts.html" onmouseout="MM_swapImgRestore()" 
                  onmouseover="MM_swapImage('Manuscripts','','../image/menu_manuscripts_on.gif',1)">
                <img src="../image/menu_manuscripts_off.gif" alt="Manuscripts" title="Darwin manuscripts and private papers" name="Manuscripts" id="Manuscripts" /></a></div>
            
            <div class="floatleft"><a href="/biography.html" onmouseout="MM_swapImgRestore()" 
                  onmouseover="MM_swapImage('Biography','','../image/menu_biography_on.gif',1)">
                <img src="../image/menu_biography_off.gif" alt="Biography" title="Timeline, life in pictures and more" name="Biography" id="Biography" /></a></div>
            
            <div class="floatleft"><a href="/press.html" onmouseout="MM_swapImgRestore()" 
                  onmouseover="MM_swapImage('Media','','../image/menu_media_on.gif',1)">
                <img src="../image/menu_media_off.gif" alt="Media" title="Press, Permissions and Illustrations" name="Media" id="Media" /></a></div>

            <div class="floatleft"><a href="/Introduction.html" onmouseout="MM_swapImgRestore()" 
                  onmouseover="MM_swapImage('About','','../image/menu_aboutus_on.gif',1)">
                <img src="../image/menu_aboutus_off.gif" alt="About Us" title="Introduction, Credits, User guide and Feedback" name="About" id="About" /></a></div>
            
            <div class="menu_search_bg floatright"><input type="text" size="16" onfocus="this.value=''" onkeypress="handleFieldKeyPress(event,this)" name="text" value="Search" class="menu_search_input" /> <a href="/content/advanced-search?manuscript=false&amp;published=false">Advanced search</a></div>
            </div>

        </div> <!-- menu -->
        </div> <!-- menurow -->
        
        <div id="illus-L"><img src="../image/side_illus-left.png" alt="" /></div>
        <div id="illus-R"><img src="../image/side_illus-right.png" alt="" /><br /></div>

        <div id="side-L"></div>
        <div id="side-R"></div>
        
        <div id="staticImg">
            <img src="../image/side_illus-right-static.png" alt="" />
        </div> <!-- randomImg -->
        
        </div> <!-- header -->
        <div id="main">
            
            <div class="content_internal">
            
            
<hr class="style4" />
<!-- #BeginEditable "body" --> 
<div class="clearboth"></div>

<h1 align="center" rsf:id="title">Advanced Search</h1>

<form method="get" rsf:id="search-form">

<div rsf:id="freetextbranch:">
  <label class="left" for="free-text">Full Text:</label> 
  <input
	name="freetext" type="text"></input> <br />
</div>
<label class="left" for="allfields">All Fields:</label>
<input name="allfields" type="text"></input> (in database) <br />
<label class="left" for="searchid">Identifier:</label> 
<input name="searchid" type="text"></input> 
  <span rsf:id="identifier-example">(e.g. CUL-DAR139)</span> <br />
<label class="left" for="name">Name(s): </label>
<input rsf:id="name" name="name" onfocus="this.select()" type="text" style="width: 250px;" /> (Name of author, editor etc.)<br />
<label class="left" for="dateafter">After date:</label>
<input name="dateafter" style="width: 100px" />
YYYY-MM-DD (MM, DD optional)<br />
<label class="left" for="datebefore">Before date:</label>
<input name="datebefore" style="width: 100px" />
<br />
<label class="left" for="searchtitle">Title: </label><input name="searchtitle"
  type="text" /><span rsf:id="title-example">(e.g. Voyage of the Beagle)</span><br />

<div rsf:id="descriptionbranch:">
<label class="left" for="description">Description: </label><input name="description"
  type="text" /><span rsf:id="description-example">(e.g. 'draft Expression queries')</span><br />
</div>

<div rsf:id="languagebranch:">
  <label class="left" for="place">Place: </label><input name="place"
  type="text" />(of Publication)<br />
  <label class="left" for="publisher">Publisher: </label><input name="publisher"
  type="text" />(e.g. John Murray)<br />
  <label class="left" for="periodical">Periodical: </label><input name="periodical"
  type="text" /><span rsf:id="periodical-example">(e.g. Bienen Zeitung)</span><br />
<div rsf:id="innerlanguagebranch:">
  <label class="left" for="language">Language(s): </label><select rsf:id="language" name="language"
  type="text" multiple="multiple" size="8" style="width:120px">
  <option value="1">English</option>
  <option value="2">French</option>
  <option value="3">Danish</option>
  <option value="4">Dutch</option>
  <option value="5">German</option>
  <option value="6">Russian</option>
  </select><span style="vertical-align:top">&nbsp;&nbsp;&nbsp;
  (Hold Ctrl key to deselect a chosen language with left mouse click)</span><br />
</div>
</div>
<label class="left" for="documenttype">Document Type(s): </label><select rsf:id="documenttype" name="documenttype"
  type="text" multiple="true" size="5"> 
  <option value="1">Abstract</option>
  <option value="2">Note</option>
  <option value="3">Correspondence</option>
  <option value="4">Figure</option>
  <option value="4">Printed</option>  
  </select><span style="vertical-align:top"></span><br />
    

<div rsf:id="itemtypebranch:">
<label class="left" for="manuscripts">Item types: </label>
    <label for="manuscript">Manuscripts</label>&nbsp;<input name="manuscript" rsf:id="manuscript" id="manuscript" type="checkbox"/>
    <label for="published">Published works</label>&nbsp;<input name="published" rsf:id="published" id="published" type="checkbox"/><br />
</div>
<input type="hidden" rsf:id="manuscript" value="true"/>
<input type="hidden" rsf:id="published" value="true"/>

<label class="left" for="fulltext">Storage types:</label>
  <label for="havetext">Available full text</label>&nbsp;<input name="havetext" id="havetext" value="true" type="checkbox"/>
  <label for="haveimages">Available digital images</label>&nbsp;<input name="haveimages" id="haveimages" value="true" type="checkbox"/>
  <label for="havepdf">Available PDF</label>&nbsp;<input name="havepdf" id="havepdf" value="true" type="checkbox"/><br />
  <br />
<strong>See <a href="../searchhelp.html" target="_blank">Advanced search help</a>.</strong> <br />
<div style="text-align: center;">
<input type="submit" value="Search" style="font-size: 105%" />
</div>
</form>
<!-- #EndEditable -->
<hr class="style4" />


            </div> <!-- content -->
        
        
        </div > <!-- main -->
        
        <div rsf:id="footer:">
        <div id="footerrow_internal">
        
            <div id="returntohomepage">
            <a href="http://darwin-online.org.uk" class="style2">Return to homepage</a>
            </div> <!-- returntohomepage -->
            
            <div id="copyright">
            <a href="http://darwin-online.org.uk/people/van_wyhe.html">Dr John van Wyhe</a>, editor. 2002-. The Complete Work of Charles Darwin Online (<a href="http://darwin-online.org.uk/">http://darwin-online.org.uk/</a>)
            </div> <!-- copyright -->
            
            <div id="statistics_internal">
                <div id="counter">
                <div id="page-counter"><span>&nbsp;</span></div>
                </div>
            </div> <!-- statistics_internal -->
    
        </div> <!-- footerrow_internal -->
        </div>



    </div> <!-- background -->
</div>  <!-- container -->

</body>
<!-- #EndTemplate --></html>