<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:rsf="http://ponder.org.uk/rsf">
<!-- #BeginTemplate "/Templates/site.dwt" -->
<!-- DW6 -->
<head>
<!-- #BeginEditable "doctitle" -->
<title>Advanced Search - The Complete Work of Charles Darwin Online</title>
<link href="css/forms.css" rel="stylesheet" type="text/css" />
<!-- #EndEditable -->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="../darwinsite.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="../MM_images.js" >
</script>
<script src="../prototype.js" language="JavaScript" type="text/javascript">
</script>
<script src="../pagecounter.js" language="JavaScript" type="text/javascript">
</script>
<style type="text/css">
body {
  margin-right: 5%;
  margin-left: 5%;
}
h1 {
  font-size: 1.8em;
}
</style>
</head>
<body alink="#FF9999" onload="MM_preloadImages('../publications2.png','../manuscripts2.png','../biography2.png','../acknowledgements2.png')" >

<p align="center"><a href="http://darwin-online.org.uk/"><img src="../title16.jpg" width="721" height="89" border="0" /></a><br />
<a href="../contents.html" target="_top" onmouseout="MM_swapImgRestore()"
  onmouseover="MM_swapImage('Publications','','../publications2.png',1)"><img
  src="../publications1.png" alt="Publications" name="Publications"
  width="120" height="22" hspace="1" border="0" id="Publications" /></a><a
  href="../CONTENTS.html#manuscripts" target="_top" onmouseout="MM_swapImgRestore()"
  onmouseover="MM_swapImage('Manuscripts','','../manuscripts2.png',1)"><img
  src="../manuscripts1.png" alt="Manuscripts" name="Manuscripts"
  width="120" height="22" hspace="1" border="0" id="Manuscripts" /></a><a
  href="../biography.html" target="_top" onmouseout="MM_swapImgRestore()"
  onmouseover="MM_swapImage('Biography','','../biography2.png',1)"><img
  src="../biography1.png" alt="Biography"
  name="Biography" width="103" height="22" hspace="1" border="0"
  id="Biography" /></a><a
  href="../acknowledgements.html" target="_top" onmouseout="MM_swapImgRestore()"
  onmouseover="MM_swapImage('Acknowledgements','','../acknowledgements2.png',1)"><img
  src="../acknowledgements1.png" alt="Acknowledgements"
  name="Acknowledgements" width="186" height="22" hspace="1" border="0"
  id="Acknowledgements" /></a>
</p>
<!-- #BeginEditable "body" --> 

<h1 align="center" rsf:id="title">Advanced Search</h1>

<form method="get" rsf:id="search-form">
<label for="free-text">Free Text:</label> 
<input
	name="freetext" type="text"></input> (Free text search within the body of the texts) <br />
<label for="searchid">Identifier:</label> 
<input name="searchid" type="text"></input> 
  <span rsf:id="identifier-title">(e.g. CUL-Dar99.94v)</span> <br />
<label for="name">Name(s): </label>
<input name="name" type="text" style="width: 250px;"></input> (Name of author, editor or other contributor)<br />
<label for="dateafter">After date:</label>
<input name="dateafter" style="width: 100px"></input>
Date in format YYYY-MM-DD - e.g. 1859-11-24 (MM, DD optional)<br />
<label for="datebefore">Before date:</label>
<input name="datebefore" style="width: 100px">
</input>Date in format YYYY-MM-DD (MM, DD optional)<br />
<label for="searchtitle">Title: </label><input name="searchtitle"
	type="text"></input>(e.g. Voyage of the Beagle)<br />

<div rsf:id="descriptionbranch:">
<label for="description">Description: </label><input name="description"
  type="text"></input>(e.g. 'draft Expression queries')<br />
</div>

<div rsf:id="languagebranch:">
  <label for="place">Place: </label><input name="place"
	type="text"></input>(e.g. London)<br />
  <label for="name">Publisher: </label><input name="publisher"
  type="text"></input>(e.g. John Murray)<br />
  <label for="periodical">Periodical: </label><input name="periodical"
  type="text"></input>(e.g. Bienen Zeitung)<br />
	<label for="language">Language(s): </label><select rsf:id="language" name="language"
	type="text" multiple="true" size="8" style="width:120px">
	<option value="1">English</option>
	<option value="2">French</option>
	<option value="3">Danish</option>
	<option value="4">Dutch</option>
	<option value="5">German</option>
	<option value="6">Russian</option>
	</select><span style="vertical-align:top">&nbsp;&nbsp;&nbsp;
  (Hold Ctrl key to deselect a chosen language with left mouse click)</span><br />
</div>
<label for="documenttype">Document Type(s): </label><select rsf:id="documenttype" name="documenttype"
	type="text" multiple="true" size="5">	
	<option value="1">Abstract</option>
	<option value="2">Note</option>
	<option value="3">Correspondence</option>
	<option value="4">Figure</option>
	<option value="4">Printed</option>	
	</select><span style="vertical-align:top">&nbsp;&nbsp;&nbsp;
  (Hold Ctrl key to deselect a chosen type with left mouse click)</span><br />
		

<div rsf:id="itemtypebranch:">
<label for="manuscripts">Item types: </label>Manuscripts<input
	name="manuscript" rsf:id="manuscript" type="checkbox"/>Published works<input
	name="published" rsf:id="published" type="checkbox"/><br />
</div>
<input type="hidden" rsf:id="manuscript" value="true"/>
<input type="hidden" rsf:id="published" value="true"/>

<label for="fulltext">Storage types: </label>Available full text<input
	name="havetext" value="true" type="checkbox"/>Available digital images<input
	name="haveimages" value="true" type="checkbox"/><br />
	
<div style="text-align: center;">
<input type="submit" value="Search" style="font-size: 105%" />
</div>
</form>
<!-- #EndEditable -->
<hr />

<div id="page-counter"><span>&nbsp;</span></div> 
<p align="center" class="style5"><a href="http://darwin-online.org.uk/" target="_top">Return 
  to homepage</a></p>
<p align="left" class="style2" >The materials provided on this 
  website may be freely cited, downloaded and printed for private study or distribution to students but reposting on other 
  websites, publishing, or other reproductions are subject to  written permission. Contact: Dr <a href="http://darwin-online.org.uk/people/van_wyhe.html" target="_blank">John 
    van Wyhe</a>. See <a href="../TermsOfUse.html" target="_top">Terms of Use</a> and <a href="../CopyrightDeclaration.html" target="_top">Copyright declaration</a>.</p>
<p align="left" class="style2" ><span class="style4">© 2002-6 The Complete Work of Charles Darwin Online</span> - University of Cambridge - CRASSH 17 Mill Lane - Cambridge - CB2 1RX - <span class="style4">fax: </span>+44 (0)1223 (7)65276</p>

<div align="center">
  <table width="582" border="0" cellpadding="5" cellspacing="5">
    <tr>
      <td width="105"><div align="center"><a href="http://www.cam.ac.uk/" target="_blank"><img src="../camshield.gif" alt="University of Cambridge" width="105" height="100" border="0" /></a></div></td>
      <td width="65"><div align="center" class="style2"><em><strong>Sponsored by:</strong></em></div></td>
      <td width="181"><div align="center">
        <p><a href="http://www.ahrc.ac.uk/" target="_blank"><img src="../ahrcsmall.gif" alt="Arts and Humanities Research Council" width="126" height="34" border="0" /></a></p>
        </div>
      <div align="center"><a href="http://www.darwinforum.org.uk/trust.htm" target="_blank"><img src="../CDT.jpg" alt="The Charles Darwin Trust" width="181" height="25" border="0" /></a></div></td>

      <td width="74"><div align="center"><a href="http://www.crassh.cam.ac.uk/" target="_blank"><img src="../crasshlogo.gif" alt="CRASSH" width="66" height="66" border="0" /></a></div></td>
      <td width="77"><div align="center"><a href="http://www.caret.cam.ac.uk/" target="_blank"><img src="../caret_logo.gif" alt="CARET" width="75" height="23" border="0" /></a></div>
      </td>
    </tr>
  </table>
</div>
<p align="left" class="style2">File last updated 
  <!-- #BeginDate format:Sw1 -->16 October, 2006<!-- #EndDate -->
</p>
</body>
<!-- #EndTemplate --></html>




