<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:rsf="http://ponder.org.uk/rsf">
<head>
<link href="../darwin.css" rel="stylesheet" type="text/css"/>
<style type="text/css">
 .hidden {
display: none;
}
.center 
{ text-align: center; }
.zerowidth
{ float:right ;}
.centerzero
{ text-align: center; 
  clear: both;
}
body {
	margin: 0px;
	margin-top: 0px; /* Negative margin required in NS/FF, ignored by others */
	padding: 0px;
	border: 0px;
	background-image: url();
	background-repeat: no-repeat;
}
.advanced {
font-size: 70%;
color: #990000;
}
form {
margin: 0px;
}
</style>
<script type="text/javascript" src="javascript/nav-frame.js" >
</script>
<script type="text/javascript" src="../MM_images.js" >
</script>
<title>Forms for navigation</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="shortcut icon" href="http://darwin-online.org.uk/favicon.ico"/>
</head>
<!-- http://localhost:48080/Darwin/content/nav-frame -->
<body>
<div class="hidden">
<div rsf:id="text-target:" id="text-target:1">html/dummy/1843_remarks_F1662.html#pageseq-1</div>
<div rsf:id="text-target:" id="text-target:2">html/dummy/1843_remarks_F1662.html#pageseq-2</div>
<div rsf:id="text-target:" id="text-target:3">html/dummy/1843_remarks_F1662.html#pageseq-3</div>
<div rsf:id="text-target:" id="text-target:4">html/dummy/1843_remarks_F1662.html#pageseq-4</div>
<div rsf:id="image-target:" id="image-target:1">html/dummy/1843_remarks_F1662_1.png</div>
<div rsf:id="image-target:" id="image-target:2">html/dummy/1843_remarks_F1662_2.png</div>
<div rsf:id="image-target:" id="image-target:3">html/dummy/1843_remarks_F1662_3.png</div>
<div rsf:id="image-target:" id="image-target:4">html/dummy/1843_remarks_F1662_4.png</div>
<div rsf:id="current-page" id="current-page">1</div>
<div rsf:id="last-page" id="last-page">4</div>
<div rsf:id="view-type" id="view-type">side</div>
<a rsf:id="search-submit" id="search-submit" href="#">Blank</a>
</div>
<div class="center">

        <div rsf:id="header:">
        <div class="menurow">
        <div class="menu">
            <a target="_top" href="/"><img src="../image/logo.gif" alt="Darwin Online" /></a>
            
            <div>
            <div class="floatleft"><a href="/contents.html" onmouseout="MM_swapImgRestore()" 
                  onmouseover="MM_swapImage('Publications','','../image/menu_publications_on.gif',1)">
                <img src="../image/menu_publications_off.gif" alt="Publications" title="Darwin's publications and published manuscripts" name="Publications" id="Publications" /></a></div>
            
            <div class="floatleft"><a href="/manuscripts.html" onmouseout="MM_swapImgRestore()" 
                  onmouseover="MM_swapImage('Manuscripts','','../image/menu_manuscripts_on.gif',1)">
                <img src="../image/menu_manuscripts_off.gif" alt="Manuscripts" title="Darwin manuscripts and private papers" name="Manuscripts" id="Manuscripts" /></a></div>
            
            <div class="floatleft"><a href="/biography.html" onmouseout="MM_swapImgRestore()" 
                  onmouseover="MM_swapImage('Biography','','../image/menu_biography_on.gif',1)">
                <img src="../image/menu_biography_off.gif" alt="Biography" title="Timeline, life in pictures and more" name="Biography" id="Biography" /></a></div>
            
            <div class="floatleft"><a href="/press.html" onmouseout="MM_swapImgRestore()" 
                  onmouseover="MM_swapImage('Media','','../image/menu_media_on.gif',1)">
                <img src="../image/menu_media_off.gif" alt="Media" title="Press, Permissions and Illustrations" name="Media" id="Media" /></a></div>

            <div class="floatleft"><a href="/Introduction.html" onmouseout="MM_swapImgRestore()" 
                  onmouseover="MM_swapImage('About','','../image/menu_aboutus_on.gif',1)">
                <img src="../image/menu_aboutus_off.gif" alt="About Us" title="Introduction, Credits, User guide and Feedback" name="About" id="About" /></a></div>
            
            <div class="menu_search_bg floatright"><input type="text" size="16" onfocus="this.value=''" onkeypress="handleFieldKeyPress(event,this)" name="text" value="Search" class="menu_search_input" /> <a href="/content/advanced-search?manuscript=false&amp;published=false">Advanced search</a></div>
            </div>

        </div> <!-- menu -->
        </div> <!-- menurow -->
        
        </div> <!-- header -->

</div>

<div class="centerzero">
<input type="button" id="back-button" value=" &lt; Back" onclick="addPage(-1)" ondblclick="addPage(-1)" /> 
<select rsf:id="page-select" id="page-select-selection" onchange="onPageSelect()">
  <option value="1" selected="true">page 47</option>
  <option value="2">page 48</option>
  <option value="3">page 49</option>
  <option value="4">page 50</option>
</select> <input type="button" id="next-button" value="Next &gt;"
  onclick="addPage(1)" ondblclick="addPage(1)" /> <span class="zerowidt">
<span rsf:id="switch-any">&nbsp;&nbsp;&nbsp;Switch to: </span><a href="#" target="_top" rsf:id="switch-text"><strong>Text view</strong></a>&nbsp;
<a href="#" target="_top" id="switch-image" rsf:id="switch-image"><strong>Image
view</strong></a>&nbsp;<a href="#" target="_top" rsf:id="switch-side"><strong>Text &amp; Image view</strong></a>
<a href="#" target="_top" rsf:id="switch-pdf"><strong>PDF view</strong></a>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></div>

</body>
</html>
