<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:rsf="http://ponder.org.uk/rsf" xmlns="http://www.w3.org/1999/xhtml"><!-- #BeginTemplate "/templates/site.dwt" --><!-- DW6 -->
<head>
<link rel="shortcut icon" href="../favicon.ico" type="  image/x-icon" />
<!-- #BeginEditable "doctitle" -->
<title rsf:id="title">Darwin Online Database Record</title>
<link rel="shortcut icon" href="http://darwin-online.org.uk/favicon.ico"/>
<style type="text/css">
table.record {border: 4px groove;
  border-collapse: collapse;
 align: center}
td.record {border-bottom: 1px solid}
td.right {padding-left: 10px}
</style>
<!-- #EndEditable -->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="../darwin.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="../MM_images.js" >
</script>
<script src="../prototype.js" language="JavaScript" type="text/javascript">
</script>
<script src="../pagecounter.js" language="JavaScript" type="text/javascript">
</script>
<style type="text/css">
</style>
</head>
<body alink="#FF9999" onload="MM_preloadImages('../image/menu_publications_on.gif','../image/menu_manuscripts_on.gif',
    '../image/menu_biography_on.gif','../image/menu_media_on.gif','../image/menu_aboutus_on.gif');updatePageCounter();" >

<div id="container">
    
    <div id="background">
        <div class="menurow">
        <div class="menu">
            <a href="/"><img src="../image/logo.gif" alt="Darwin Online" /></a>
            
            <div>
            <div class="floatleft"><a href="/contents.html" onmouseout="MM_swapImgRestore()" 
                  onmouseover="MM_swapImage('Publications','','../image/menu_publications_on.gif',1)">
                <img src="../image/menu_publications_off.gif" alt="Publications" title="Darwin's publications and published manuscripts" name="Publications" id="Publications" /></a></div>
            
            <div class="floatleft"><a href="/manuscripts.html" onmouseout="MM_swapImgRestore()" 
                  onmouseover="MM_swapImage('Manuscripts','','../image/menu_manuscripts_on.gif',1)">
                <img src="../image/menu_manuscripts_off.gif" alt="Manuscripts" title="Darwin manuscripts and private papers" name="Manuscripts" id="Manuscripts" /></a></div>
            
            <div class="floatleft"><a href="/biography.html" onmouseout="MM_swapImgRestore()" 
                  onmouseover="MM_swapImage('Biography','','../image/menu_biography_on.gif',1)">
                <img src="../image/menu_biography_off.gif" alt="Biography" title="Timeline, life in pictures and more" name="Biography" id="Biography" /></a></div>
            
            <div class="floatleft"><a href="/press.html" onmouseout="MM_swapImgRestore()" 
                  onmouseover="MM_swapImage('Media','','../image/menu_media_on.gif',1)">
                <img src="../image/menu_media_off.gif" alt="Media" title="Press, Permissions and Illustrations" name="Media" id="Media" /></a></div>

            <div class="floatleft"><a href="/Introduction.html" onmouseout="MM_swapImgRestore()" 
                  onmouseover="MM_swapImage('About','','../image/menu_aboutus_on.gif',1)">
                <img src="../image/menu_aboutus_off.gif" alt="About Us" title="Introduction, Credits, User guide and Feedback" name="About" id="About" /></a></div>
            
            <div class="menu_search_bg floatright"><input type="text" size="16" onfocus="this.value=''" onkeypress="handleFieldKeyPress(event,this)" name="text" value="Search" class="menu_search_input" /> <a href="/content/advanced-search?manuscript=false&amp;published=false">Advanced search</a></div>
            </div>

        </div> <!-- menu -->
        </div> <!-- menurow -->
        
        <div id="illus-L"><img src="../image/side_illus-left.png" alt="" /></div>
        <div id="illus-R"><img src="../image/side_illus-right.png" alt="" /><br /></div>

        <div id="side-L"></div>
        <div id="side-R"></div>
        
        <div id="main">
            
            <div id="staticImg">
                <img src="../image/side_illus-right-static.png" alt="" />
            </div> <!-- randomImg -->

            <div class="content_internal">
            
<!-- #BeginEditable "body" --> 
<h1 rsf:id="title" align="center">Freeman Bibliographical Database</h1>

<div style="text-align: center;"><a href="#" rsf:id="prev">Previous
Record</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a
  href="#" rsf:id="next">Next Record</a></div>
<br/>
<div >
<table width="639" cols="2" align="center" class="record">
  <tr rsf:id="field-row:">

    <td class="record" width="10"><span class="style4" rsf:id="field-name">Identifier:</span></td>
    <td class="record right"><span rsf:id="field">F8.4</span></td>

  </tr>
</table>
<br/>
<br/>
<div >
<a rsf:id="switch-text" target="_top" href="#">Text</a>&nbsp;&nbsp;
<a rsf:id="switch-image" target="_top" href="#">Images</a>&nbsp;&nbsp; 
<a rsf:id="switch-side" target="_top" href="#">Text &amp; Images</a>&nbsp;&nbsp;
<a rsf:id="switch-pdf" target="_top" href="#">PDF</a>&nbsp;&nbsp; 
</div>
</div>

<br />
<br />
<br />
<div style="text-align: center;"><a href="#"
  rsf:id="advanced-search">Advanced Search</a>&nbsp;&nbsp;<a href="#" rsf:id="same-search">Search Manuscripts</a></div>

<!-- #EndEditable -->
<hr class="style4" />
<div id="page-counter"><span>&nbsp;</span></div> 


            </div> <!-- content -->
        
        
        </div > <!-- main -->
        
        <div id="footerrow_internal">
        
            <div id="returntohomepage">
            <a href="http://darwin-online.org.uk" class="style2">Return to homepage</a>
            </div> <!-- returntohomepage -->
            
            <div id="copyright">
            <a href="http://darwin-online.org.uk/people/van_wyhe.html">Dr John van Wyhe</a>, editor. 2002-. The Complete Work of Charles Darwin Online (<a href="http://darwin-online.org.uk/">http://darwin-online.org.uk/</a>)
            </div> <!-- copyright -->
            
            <div id="statistics_internal">
                <div id="counter">
                <div id="page-counter"><span>&nbsp;</span></div>
                </div>
            </div> <!-- statistics_internal -->
    
        </div> <!-- footerrow_internal -->



    </div> <!-- background -->
</div>  <!-- container -->

</body>
<!-- #EndTemplate --></html>