<html>
<head>
<title>Newton Navigator Example</title>
<script language="JavaScript" src="javascript/img-lb2.js"></script>

 <link href="../darwinsite.css" rel="stylesheet" type="text/css" /> 

<style type="text/css">
body {
  margin-top: 0px;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  background-color: #000000;
}
</style>

</head>

<body onload="pageinit()"">
<p align=center>
<a href="javascript:bigger()"><img src="images/in.gif" alt="Zoom In" title="Zoom in"
	name="zoom in" width="30" height="30" border="0"></a>&nbsp; 
<a href="javascript:orig_size()"><img src="images/restore.gif"
	alt="Actual Image Size" title="Actual Image Size" 
    name="restore" width="30" height="30"
	border="0"></a>&nbsp; 
	<a href="javascript:smaller()"><img
	src="images/out.gif" alt="Zoom Out" title="Zoom Out" name="zoom out" width="30" height="30"
	border="0"></a>&nbsp; 
	
	
	<a href="javascript:fit_width()">
	<img src="images/fitw.gif" alt="Fit Image Width to Window" 
    title="Fit Image Width to Window" name="fitwdth"
	width="25" height="30" border="0"></a>
	<a href="javascript:fit_both()">
	<img src="images/fitb.gif" alt="Fit Image to Window" 
    title="Fit Image To Window"  name="fitboth"
	width="30" height="30" border="0"></a> 
<!-- 
	<img src="images/blackpx.gif"	hspace="30"> 
 -->
</body>
</html>
