body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	margin-top: 39;
	margin-right: 10%;
	margin-bottom: 39;
	margin-left: 10%;
}

td {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
}

th {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
}font {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	color: #000000;
}
body {
	background-color: #FFFFCC;
}
h1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 24pt;
	color: #990000;
	font-weight: normal;
	text-decoration: none;
}
h2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 126%;
	font-weight: normal;
	color: #990000;
}
p {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 100%;
	color: #000000;
}
.style1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	color: #000000;
}
h3 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 126%;
	font-weight: normal;
	color: #000000;
}
small {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 90%;
	font-weight: normal;
	color: #000000;
}
.style2 {
	font-size: 81%;
	color: #000000;
}
.style3 {
	color: #FF0000;
}
.ednote {
	font-size: small;
	color: #FF0000;
}
h5 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	font-size: 144%;
}
p {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12pt;
	color: #000000;
}
