<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
  "http://www.springframework.org/dtd/spring-beans.dtd">
<!-- RSF application scope Spring configuration file for the Darwin Servlet app -->
<beans>

  <bean id="itemCollectionProxy" parent="RSACBridgeProxy">
    <property name="targetBeanName">
      <idref bean="itemCollection" />
    </property>
  </bean>

  <bean id="templateResolverStrategy"
    class="uk.org.ponder.rsf.templateresolver.support.CRITemplateResolverStrategy">
    <property name="baseDirectory" value="templates/" />
    <property name="consumerInfo" ref="consumerInfoProxy" />
    <property name="contextURLProvider" ref="contextURLProvider" />
  </bean>

  <bean id="urlMapper" class="uk.org.ponder.darwin.parse.URLMapper">
    <property name="contentRoot" ref="contentRoot" />
    <property name="externalContentRoot" ref="externalContentRoot" />
  </bean>
  
  <bean parent="handlerHookParent">
    <property name="valueRef" value="darwinHandlerHook"/>
  </bean>
  
  <bean id="darwinHandlerHook" 
    class="uk.org.ponder.darwin.rsf.DarwinHandlerHook">
    <property name="httpServletRequest" ref="httpServletRequestProxy"/>
    <property name="httpServletResponse" ref="httpServletResponseProxy"/>
    <property name="requestTypeProxy" ref="requestTypeProxy"/>
    <property name="viewParametersProxy" ref="viewParametersProxy"/>
    <property name="pageRenderer" ref="pageRenderer"/>
  </bean>
  
<!-- 
  <bean id="analyzer"
    class="uk.org.ponder.darwin.lucene.DarwinAnalyzer" />
    -->
  <!-- 
    <bean id="indexBuilder" class="uk.org.ponder.darwin.lucene.IndexBuilder">
    <property name="analyser" ref="analyzer"/>
    <property name="maxPendingDocuments" value="1000"/>
    <property name="indexDirectory" ref="indexDirectory"/>
    <property name="indexItemSearcher" ref="indexItemSearcherConc"/>
    </bean>
  -->
  <bean id="queryBuilder"
    class="uk.org.ponder.darwin.lucene.QueryBuilder">
    <property name="mappingContext" ref="ELMappingContext" />
  </bean>

  <bean id="indexItemSearcher"
    class="uk.org.ponder.darwin.lucene.IndexItemSearcher"
    init-method="open" destroy-method="close">
    <property name="indexDirectory" ref="indexDirectory" />
    <property name="expectForce" value="false" />
  </bean>

  <bean id="itemScanner"
    class="uk.org.ponder.darwin.lucene.ItemScanner">
    <property name="indexItemSearcher" ref="indexItemSearcher" />
  </bean>

  <!--  
    <bean id="indexSearcherTarget" factory-bean="indexItemSearcher" 
    factory-method="getIndexSearcher"/>
  -->

  <bean id="pageRenderer"
    class="uk.org.ponder.darwin.rsf.PageRenderer">
    <property name="itemCollection" ref="itemCollectionProxy" />
    <property name="viewStateHandler" ref="viewStateHandler" />
    <property name="URLMapper" ref="urlMapper" />
    <property name="pageCountDAO" ref="pageCountDAO" />
    <property name="viewParamsMapper" ref="viewParamsMapper" />
  </bean>

  <bean id="itemFieldTables"
    class="uk.org.ponder.darwin.search.ItemFieldTables"
    init-method="init">
    <property name="itemDirectory" ref="itemDirectory" />
  </bean>

  <bean id="docTypeInterpreter"
    class="uk.org.ponder.darwin.search.DocTypeInterpreter">
    <property name="itemFieldTables" ref="itemFieldTables" />
  </bean>

  <bean id="itemCollectionManager"
    class="uk.org.ponder.darwin.parse.ItemCollectionManager"
    init-method="index">
    <property name="contentRoot" ref="contentRoot" />
    <property name="itemScanner" ref="itemScanner" />
  </bean>

  <bean id="linkBlockProducer" class="uk.org.ponder.darwin.rsf.producers.LinkBlockProducer">
    <property name="itemCollection" ref="itemCollectionProxy"/>
  </bean>

  <bean id="frameset-view"
    class="uk.org.ponder.darwin.rsf.producers.FramesetProducer">
    <property name="RSACBeanLocator" ref="RSACBeanLocator" />
  </bean>

  <bean id="navframe-view"
    class="uk.org.ponder.darwin.rsf.producers.NavFrameProducer">
    <property name="URLMapper" ref="urlMapper" />
    <property name="itemCollection" ref="itemCollectionProxy" />
    <property name="viewStateHandler" ref="viewStateHandler" />
  </bean>

  <bean id="status-view"
    class="uk.org.ponder.darwin.rsf.producers.StatusProducer">
    <property name="itemCollectionManager" ref="itemCollectionManager" />
  </bean>

  <bean id="search-results-view"
    class="uk.org.ponder.darwin.rsf.producers.SearchResultsProducer">
    <property name="indexItemSearcher" ref="indexItemSearcher" />
    <property name="queryBuilder" ref="queryBuilder" />
    <property name="itemCollection" ref="itemCollectionProxy" />
    <property name="linkBlockProducer" ref="linkBlockProducer"/>
    <property name="docTypeInterpreter" ref="docTypeInterpreter" />
  </bean>

  <bean id="advanced-search-view"
    class="uk.org.ponder.darwin.rsf.producers.AdvancedSearchProducer">
    <property name="itemFieldTables" ref="itemFieldTables" />
    <property name="docTypeInterpreter" ref="docTypeInterpreter" />
  </bean>

  <bean id="record-view"
    class="uk.org.ponder.darwin.rsf.producers.RecordProducer">
    <property name="linkBlockProducer" ref="linkBlockProducer"/>
    <property name="indexItemSearcher" ref="indexItemSearcher" />
    <property name="docTypeInterpreter" ref="docTypeInterpreter" />
    <property name="itemCollection" ref="itemCollectionProxy" />
  </bean>

  <bean id="missing-view"
    class="uk.org.ponder.darwin.rsf.producers.ErrorProducer">
  </bean>

  <bean id="page-counter-view"
    class="uk.org.ponder.darwin.rsf.producers.PageCounterProducer">
    <property name="pageCountDAO" ref="pageCountDAO" />
  </bean>

  <bean id="siteMap" parent="siteMapParent" />

  <bean parent="requestAddressibleParent">
    <property name="value" value="icmtrigger" />
  </bean>
<!-- TODO This will not work beyond 0.7.1A!! Why did we not just report this
in the producer? -->
<!-- 
  <bean id="defaultViewProxy"
    class="uk.org.ponder.stringutil.StringHolder">
    <property name="value" value="/missing" />
  </bean>
-->
  <bean id="pageCountDAO"
    class="uk.org.ponder.darwin.pages.PageCountDAOImpl">
    <property name="sessionFactory" ref="sessionFactory" />
  </bean>

  <bean name="transactionManager"
    class="org.springframework.orm.hibernate3.HibernateTransactionManager">
    <property name="sessionFactory" ref="sessionFactory" />
  </bean>

  <bean id="transactionInterceptor"
    class="org.springframework.transaction.interceptor.TransactionInterceptor">
    <property name="transactionManager">
      <ref bean="transactionManager" />
    </property>
    <property name="transactionAttributes">
      <props>
        <prop key="*">PROPAGATION_REQUIRED</prop>
      </props>
    </property>
  </bean>

  <bean id="autoProxyCreator"
    class="org.springframework.aop.framework.autoproxy.BeanNameAutoProxyCreator">
    <property name="interceptorNames">
      <list>
        <idref bean="transactionInterceptor" />
      </list>
    </property>
    <property name="beanNames">
      <list>
        <idref local="pageCountDAO" />
      </list>
    </property>
  </bean>

</beans>