<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
  "http://www.springframework.org/dtd/spring-beans.dtd">
<!-- RSF application scope Spring configuration file for the Darwin Servlet app -->
<beans>
  <bean id="urlMapper" class="uk.org.ponder.darwin.parse.URLMapper">
    <property name="contentRoot">
      <ref bean="contentRoot" />
    </property>
    <property name="externalContentRoot">
      <ref bean="externalContentRoot" />
    </property>
  </bean>

  <bean id="itemCollectionManager"
    class="uk.org.ponder.darwin.parse.ItemCollectionManager"
    init-method="index">
    <property name="contentRoot">
      <ref bean="contentRoot" />
    </property>
  </bean>

  <bean id="frameset-view"
    class="uk.org.ponder.darwin.rsf.components.FramesetProducer">
    <property name="RSACBeanLocator">
      <ref bean="rsacBeanLocator" />
    </property>
  </bean>

  <bean id="navframe-view"
    class="uk.org.ponder.darwin.rsf.components.NavFrameProducer">
    <property name="RSACBeanLocator">
      <ref bean="rsacBeanLocator" />
    </property>
    <property name="URLMapper">
      <ref bean="urlMapper"/>
    </property>
  </bean>

  <bean id="status-view"
    class="uk.org.ponder.darwin.rsf.components.StatusProducer">
    <property name="itemCollectionManager">
      <ref local="itemCollectionManager" />
    </property>
  </bean>
  
  <bean id="missing-view"
   class="uk.org.ponder.darwin.rsf.components.ErrorProducer">
  </bean>

  <bean id="siteMap" parent="siteMapDef"/>

  <bean id="viewResolver" class="uk.org.ponder.rsf.view.ConcreteViewResolver">
    <property name="views">
      <list>
        <ref local="frameset-view" />
        <ref local="navframe-view" />
        <ref local="status-view" />
        <ref local="missing-view" />
      </list>
    </property>
  </bean>

  <bean id="defaultView" class="java.lang.String">
    <constructor-arg>
      <value>/missing</value>
    </constructor-arg>
  </bean>

  <bean name="requestAddressibleBeans"
    class="uk.org.ponder.springutil.StringListFactory">
    <property name="strings">
      <value>icmtrigger</value>
    </property>
  </bean>
</beans>