<?xml version="1.0"?>
<!DOCTYPE web-app PUBLIC
  "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
  "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
  <!-- Configure standard Spring application contexts. Be sure to mention
    rsf config files first, so any overrides may be processed. The first two
    config files are loaded from inside the rsfutil.jar  -->
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>
      classpath:conf/rsf-config.xml,
      classpath:conf/blank-applicationContext.xml,
      /WEB-INF/applicationContext.xml,
      /WEB-INF/userConfig.xml
    </param-value>
  </context-param>
  <!-- Configure "resource scope" Spring application contexts (RSAC).
    Be sure to mention rsf config files first, so any overrides may be
    processed -->
  <context-param>
    <param-name>requestContextConfigLocation</param-name>
    <param-value>
      classpath:conf/rsf-requestscope-config.xml,
      classpath:conf/blank-requestContext.xml, /WEB-INF/requestContext.xml
    </param-value>
  </context-param>
    
   <!--
    The declaration of your FacesServlet.
    Map it to whatever url pattern you like.
  -->
  <servlet>
    <servlet-name>ReasonableServlet</servlet-name>
    <servlet-class>
      uk.org.ponder.rsf.servlet.ReasonableSpringServlet
    </servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>ReasonableServlet</servlet-name>
    <url-pattern>/content/*</url-pattern>
  </servlet-mapping>

</web-app>