    <div rsf:id="footer-target:">
        <div id="footerrow_internal">
        
            <div id="returntohomepage">
            <a href="/" class="style2">Return to homepage</a>
            </div> <!-- returntohomepage -->
            
            <div id="copyright">
            <a href="http://darwin-online.org.uk/people/van_wyhe.html">John van Wyhe</a>, editor. 2009-. Wallace Online (<a href="/">http://wallace-online.org.uk</a>)
            </div> <!-- copyright -->
        </div> <!-- footerrow_internal -->
    </div>