    <div rsf:id="footer-target:">
        <div id="footerrow_internal">        
            <div id="returntohomepage">
            <a href="http://test.darwin-online.org.uk/">Return to homepage</a></div> <!-- returntohomepage -->
            <div id="copyright">
      <strong>Citation: </strong><a href="/people/van_wyhe.html"><strong>John van Wyhe</strong></a><strong>, ed. 2002-. <em>The Complete Work of Charles Darwin Online</em> (<a href="http://test.darwin-online.org.uk/">http://darwin-online.org.uk/</a>)</strong></div> <!-- copyright -->
            <div id="statistics_internal">
                <div id="counter">
                <div id="page-counter"><span>&nbsp;</span></div>
                </div>
            </div> <!-- statistics_internal -->
        </div> <!-- footerrow_internal -->
    </div>