    <div rsf:id="footer-target:">
    <div id="footerrow_internal">
        <p><a href="/people/van_wyhe.html"><strong>John van Wyhe</strong></a><strong>, ed. 2012-. <em>Wallace Online </em> (<a href="http://wallace-online.org/">http://wallace-online.org/</a>)        </strong><a href="http://www.nus.edu.sg/" target="_blank"><img src="../../image/NUS.jpg" width="110" height="52" hspace="10" align="middle" alt="National University of Singapore"/></a></p>
    </div> <!-- footerrow_internal -->

    </div>