    <div rsf:id="header-target:">
        <div class="menurow">
        <div class="menu">
            <a target="_top" href="/"><img src="../../image/logo.gif" alt="Wallace Online" /></a>
                
            <div>
            <div class="floatleft">
              <div style="font-size: 115%">
              <a target="_top" href="/content/search-results?pagesize=100&amp;searchtitle=&amp;pageno=1&amp;datebefore=&amp;publisher=&amp;searchid=&amp;allfields=&amp;description=&amp;name=Wallace+Alfred+Russel&amp;published=true&amp;freetext=&amp;place=&amp;periodical=&amp;dateafter=&amp;sort=identifier">Publications</a> 
              <a target="_top" href="/content/search-results?manuscript=true&amp;pagesize=100&amp;searchtitle=&amp;pageno=1&amp;datebefore=&amp;publisher=&amp;searchid=&amp;allfields=&amp;description=&amp;name=&amp;freetext=&amp;place=&amp;periodical=&amp;dateafter=&amp;sort=identifier">Manuscripts</a> 
              <a target="_top" href="/content/search-results?pagesize=100&amp;searchtitle=&amp;pageno=1&amp;datebefore=&amp;publisher=&amp;searchid=WSPEC&amp;allfields=&amp;description=&amp;name=&amp;freetext=&amp;place=&amp;periodical=&amp;dateafter=&amp;sort=date-ascending">Specimens</a> 
              <a target="_top" href="/content/search-results?pagesize=50&amp;searchtitle=&amp;pageno=1&amp;datebefore=&amp;publisher=&amp;searchid=WS*&amp;allfields=&amp;description=&amp;name=&amp;freetext=&amp;place=&amp;periodical=&amp;dateafter=&amp;sort=identifier">Supplementary</a>
              </div>
            </div>
            
            <div class="menu_search_bg floatright"><input type="text" size="16" onfocus="this.value=''" onkeypress="handleFieldKeyPress(event,this)" name="text" value="Search" class="menu_search_input" /> <a target="_top" href="/content/advanced-search?manuscript=false&amp;published=false">Advanced search</a></div>
            </div>
        </div> <!-- menu -->
        </div> <!-- menurow -->
        
    </div> <!-- header -->    