   
    <div rsf:id="header-target-short:">
        <div class="menurow">
        <div class="menu">
            <a target="_top" href="/"><img src="../../image/logo.gif" alt="Darwin Online" /></a>
            
            <div>
            <div class="floatleft"><a target="_top" href="/contents.html" onmouseout="MM_swapImgRestore()" 
                  onmouseover="MM_swapImage('Publications','','../image/menu_publications_on.gif',1)">
                <img src="../../image/menu_publications_off.gif" alt="Publications" title="Darwin's publications and published manuscripts" name="Publications" id="Publications" /></a></div>
            
            <div class="floatleft"><a target="_top" href="/manuscripts.html" onmouseout="MM_swapImgRestore()" 
                  onmouseover="MM_swapImage('Manuscripts','','../image/menu_manuscripts_on.gif',1)">
                <img src="../../image/menu_manuscripts_off.gif" alt="Manuscripts" title="Darwin manuscripts and private papers" name="Manuscripts" id="Manuscripts" /></a></div>
            
            <div class="floatleft"><a target="_top" href="/biography.html" onmouseout="MM_swapImgRestore()" 
                  onmouseover="MM_swapImage('Biography','','../image/menu_biography_on.gif',1)">
                <img src="../../image/menu_biography_off.gif" alt="Biography" title="Timeline, life in pictures and more" name="Biography" id="Biography" /></a></div>
            
            <div class="floatleft"><a target="_top" href="/press.html" onmouseout="MM_swapImgRestore()" 
                  onmouseover="MM_swapImage('Media','','../image/menu_media_on.gif',1)">
                <img src="../../image/menu_media_off.gif" alt="Media" title="Press, Permissions and Illustrations" name="Media" id="Media" /></a></div>

            <div class="floatleft"><a target="_top" href="/AboutUs.html" onmouseout="MM_swapImgRestore()" 
                  onmouseover="MM_swapImage('About','','../image/menu_aboutus_on.gif',1)">
                <img src="../../image/menu_aboutus_off.gif" alt="About Us" title="Introduction, Credits, User guide and Feedback" name="About" id="About" /></a></div>
            
            <div class="menu_search_bg floatright"><input type="text" size="16" onfocus="this.value=''" onkeypress="handleFieldKeyPress(event,this)" name="text" value="Search" class="menu_search_input" /> 
            <a target="_top" href="/content/advanced-search?manuscript=false&amp;published=false">Advanced search</a></div>
            </div>

        </div> <!-- menu -->
        </div> <!-- menurow -->
        
    </div> <!-- header -->