
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:rsf="http://ponder.org.uk/rsf">
<!-- #BeginTemplate "/Templates/site.dwt" -->
<!-- DW6 -->
<head>
<!-- #BeginEditable "doctitle" -->
<title>The complete work of Charles Darwin</title>
<!-- #EndEditable -->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="../css/darwin.css" rel="stylesheet" type="text/css" rsf:id="scr=rewrite-url"/>
<link href="../css/forms.css" rel="stylesheet" type="text/css" rsf:id="scr=rewrite-url"/>
<script type="text/javascript">
<!--
function onPageClick(arg) {
 top.navframe.setPage(Number(arg));
}

function MM_swapImgRestore() { //v3.0
  var i,x,a=document.MM_sr; for(i=0;a&&i<a.length&&(x=a[i])&&x.oSrc;i++) x.src=x.oSrc;
}

function MM_preloadImages() { //v3.0
  var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
    var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
    if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}

function MM_findObj(n, d) { //v4.01
  var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
    d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
  if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
  for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
  if(!x && d.getElementById) x=d.getElementById(n); return x;
}

function MM_swapImage() { //v3.0
  var i,j=0,x,a=MM_swapImage.arguments; document.MM_sr=new Array; for(i=0;i<(a.length-2);i+=3)
   if ((x=MM_findObj(a[i]))!=null){document.MM_sr[j++]=x; if(!x.oSrc) x.oSrc=x.src; x.src=a[i+2];}
}
//-->
</script>


<link href="../../darwinsite.css" rel="stylesheet" type="text/css" />

</head>
<body>

<p align="center"><a href="http://darwin-online.org.uk/">
<img src="../../title7.jpg" width="736" height="95" border="0"/></a><br />
</p>
<!-- #BeginEditable "body" -->

<h1 align="center">Advanced Search</h1>

<form method="get" rsf:id="search-form"><label for="free-text">Free Text:</label> 
<input
	name="freetext" type="text"></input> Free text search within the body of the texts <br />
<label for="name">Name: </label><input name="name" type="text" style="width: 250px;"></input> Name of author, editor or other contributor<br />
<label for="dateafter">After date:</label>
<input name="afterdate" style="width: 100px"></input>
Date in format YYYY-MM-DD (MM, DD optional)<br />
<label for="datebefore">Before date:</label>
<input name="beforedate" style="width: 100px">
</input>Date in format YYYY-MM-DD (MM, DD optional)<br />
<label for="name">Reference: </label><input name="reference"
	type="text"></input><br />

  <label for="name">Place: </label><input name="place"
	type="text"></input><br />
	<label for="name">Language(s): </label><select rsf:id="language" name="language"
	type="text" multiple="true" size="8" style="width:120px">
	<option value="1">English</option>
	<option value="2">French</option>
	<option value="3">Danish</option>
	<option value="4">Dutch</option>
	<option value="5">German</option>
	<option value="6">Russian</option>
	</select><br />
	<label for="name">Document Type(s): </label><select rsf:id="documenttype" name="documenttype"
	type="text" multiple="true" size="5">	
	<option value="1">Abstract</option>
	<option value="2">Note</option>
	<option value="3">Correspondence</option>
	<option value="4">Figure</option>
	<option value="4">Printed</option>	
	</select><br />
		<label for="name">Attributed Title: </label><input name="attributedtitle"
	type="text"></input><br />
			<label for="name">Exact Title: </label><input name="exacttitle"
	type="text"></input><br />
	<label for="name">Publisher: </label><input name="publisher"
	type="text"></input><br />
<label for="manuscripts">Item types: </label>Manuscripts<input
	name="manuscripts" rsf:id="manuscripts" type="checkbox"/>Published works<input
	name="published" rsf:id="published" type="checkbox"/><br />
<label for="fulltext">Storage types: </label>Have full text<input
	name="havetext" type="checkbox"/>Have digital images<input
	name="haveimages" type="checkbox"/><br />
	
<div style="text-align: center;">
<input type="submit" value="Search" style="font-size: 105%" />
</div>
</form>
<!-- #EndEditable -->

<p align="center"><a href="http://darwin-online.org.uk" target="_top">Return
to homepage</a></p>
<p align="left">The materials provided on this website may be freely
cited, downloaded and printed for private study or distribution to
students but reposting on other websites, publishing, or other
reproductions are subject to written permission. Contact Dr. <a
	href="http://darwin-online.org.uk/people/van_wyhe.html" target="_blank">John
van Wyhe</a>.</p>
<p align="left"><strong class="style4">© 2002-6 The Complete Work of
Charles Darwin Online</strong> - University of Cambridge - CRASSH 17
Mill Lane - Cambridge - CB2 1RX - <span class="style4">fax:</span> +44
(0)1223 (7)65276</p>
<p align="center"><em>Sponsored by:</em></p>
<p align="center"><a href="http://www.ahrb.ac.uk/" target="_blank"> </a></p>

<p align="center"><a href="http://www.darwinforum.org.uk/trust.htm"
	target="_blank"></a></p>
</body>
<!-- #EndTemplate -->
</html>
