<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:rsf="http://ponder.org.uk/rsf">
<head>
<link href="../../darwinsite.css" rel="stylesheet" type="text/css"/>

<title rsf:id="title">Darwin Online Database Record</title>
</head>
<body>
<div style="text-align: center;"><img src="../../title7.jpg" width="734"
  height="95" /></div>

<div style="height:25em; position: relative;">
<p align="left" rsf:id="field-row:">
<span class="style4" rsf:id="field-name">Identifier:</span> &nbsp;
<span rsf:id="field">F1249</span></p>


<div style="position: absolute; top:21em">
<a rsf:id="switch-side" target="_top" href="#">Text and Image view</a>&nbsp;&nbsp;
<a rsf:id="switch-image" id="switch-image" target="_top" href="#">Digital facsimile</a>&nbsp;&nbsp;
<a rsf:id="switch-text" target="_top" href="#">Digital text</a>&nbsp;&nbsp;
</div>
</div>


<div style="text-align: center;">
<a href="#" rsf:id="prev">Previous Record</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#" rsf:id="next">Next Record</a>
</div>
<br/>
<br/>
<br/>
<br/>
<br/>
<div style="text-align: center;">
<a href="#" rsf:id="advanced-search">Advanced Search</a>
</div>
</body>
</html>
