<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:rsf="http://ponder.org.uk/rsf">
<head>
<link href="../../darwinsite.css" rel="stylesheet" type="text/css"/>

<title rsf:id="title">Darwin Online Database Record</title>
</head>
<body>
<div class="center"><img src="../../title7.jpg" width="734"
  height="95" /></div>

<p align="left"><span class="style4">Identifier:</span> <span rsf:id="identifier">F1249</span></p>
<p align="left"><span class="style4">Concise reference:</span>
<span rsf:id="concise">
Darwin, C. R. 1876. The effects of cross and self fertilisation in the
vegetable kingdom. London: John Murray.</span></p>
<p align="left"><span class="style4">Detailed reference:</span>
<span rsf:id="detailed">
1249. 1876 London, John Murray. The effects of cross and self
fertilisation in the vegetable kingdom. 8vo, 190 mm, viii + 482 pp., 1
diagram, 109 tables, 3 line errata slip. Binding: standard green cloth.
Price 12s. CD, C, D, L; T, 859(23)- [297 1249 1876 London, John Murray.
Presentation copy with embossed blind stamp &quot;Presented by Mr.
Murray&quot; on title page - BSC 1984.</span></p>


<a rsf:id="switch-side" target="_top" href="#">Text and Image view</a>&nbsp;&nbsp;
<a rsf:id="switch-image" id="switch-image" target="_top" href="#">Image view</a>&nbsp;&nbsp;
<a rsf:id="switch-text" target="_top" href="#">Text view</a>&nbsp;&nbsp;
<br/>
<br/>
<br/>
<br/>
<div class="center">
<a href="#" rsf:id="prev">Previous Record</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#" rsf:id="next">Next Record</a>
</div>
</body>
</html>
