<?xml version="1.0" ?>
<!DOCTYPE html 
     PUBLIC "-//W3C//DTD XHTML 1.0 Frameset//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-frameset.dtd">
<html xmlns="http://www.w3.org/TR/1999/REC-html-in-xml" xml:lang="en"
  lang="en" xmlns:rsf="http://ponder.org.uk/rsf">
<head>
</head>
<body>
<form method="get" action="http://darwin-online.org.uk/content/search-results">
Search site: <input name="freetext"
  type="text"  size="15" />
</form>


<br/><span style="font-size: 81%; border-width: 1px; border-style: solid; border-color: #AAAAAA; background-color: #EEEEBB">This document has been accessed 4 times since 08 October 2006</span>

</body>
</html>