<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:rsf="http://ponder.org.uk/rsf">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title rsf:id="frame-title">Darwin Online - Status Page</title>
<link href="../../darwinsite.css" rel="stylesheet" type="text/css" />
<style>
.big
{
font-size:150%;
}
.red
{
font-size:200%;
color:red;
}
	</style>
</head>
<body>
<div align="center"><img src="../../title8.jpg" width="734"
	height="43"  /></div>
<div align="center">
<h1>Status Page</h1>
</div>
<h2 class="big">Last indexing:&nbsp;</h2> 
<div rsf:id="index-present:">
<table border="0">
	<tr>
		<td class="big">Total items:&nbsp;</td>
		<td rsf:id="items">35</td>
	</tr>
	<tr>
		<td class="big">Total pages:&nbsp;</td>
		<td rsf:id="pages">35</td>
	</tr>
	<tr>
		<td class="big">Image files:&nbsp;</td>
		<td rsf:id="images">10</td>
	</tr>
	<tr>
		<td class="big">Content files:&nbsp;</td>
		<td rsf:id="contents">50</td>
	</tr>
</table>

Scanned in <span rsf:id="scanned">150ms</span> at <span rsf:id="scan-date">31st January 2006</span>

<p>Errors: <span rsf:id="scan-errors-none" class="big">&nbsp;&nbsp;None</span></p>
<div rsf:id="scan-errors"></div>
</div>
<div rsf:id="index-none:">
<h2 class="big">None</h2>
</div>

Status:
<span rsf:id="status-busy" class="red">Indexing</span>
<span rsf:id="status-idle">Idle</span>

<form rsf:id="basic-form">
Enter admin password:
<input type="password" rsf:id="password" />
<p />
<input type="submit" rsf:id="rescan" value="Rescan content" />
<input type="submit" rsf:id="research" value="Reopen search index" />
</form>
<h2 class="big">Content Links:</h2>
<table border="0">
	<tr rsf:id="linktable:imagetext">
		<td rsf:id="itemid">F135</td>
		<td><a href="#" rsf:id="textlink">View text</a></td>
		<td><a href="#" rsf:id="imagelink">View images</a></td>
		<td><a href="#" rsf:id="sidelink">View text and images</a></td>
	</tr>
</table>
</body>
</html>
